/* Importa il font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Stile di base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #f0f9f0, #ccf1d8);
    background-attachment: fixed;
    background-size: cover;
}

/* Header */
header {
    background-color: #f2c100;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #1dbf73;
    font-size: 2em;
    font-weight: 600;
}

header p {
    margin-top: 10px;
}

header a {
    color: #1dbf73;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

header a:hov…
